# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/

.idea

.RData
.Rhistory
data/00_csvs
data/01_sparse_input_bin/aol_sparse.bin.zst
data/02_dense_input_bin
data/03_model_bin
