[Unit]
Description=CO*IR individually fair re-ranker
After=network.target

[Service]
User=seanh
ExecStart=/usr/bin/coir daemon
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
